.btn {
  columns: #fff;
  background: rgb(74, 155, 9);
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 25px;
  margin: 30px 0;
  transition: 0.5s ease;
  color: #fff;
}
.btn:hover {
  background: #fff;
  color: #000;
}
