.contact-form {
  background: #fff;
  max-width: 600px;
  margin-top: 50px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
}
.contact-form h3 {
  color: #111;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.contact-form .input-box input {
  outline: none;
  width: 60%;
  height: 30px;
  padding: 3px;
}
.input-box textarea {
  padding: 5px;
}

.contact-form.input-box input,
.contact-form .input-box textarea {
  color: #111;
  width: 100%;
  font-size: 17px;
  font-weight: 400;
  outline: none;
  border: 1px solid #111;
  border-radius: 5px;
  resize: none;
}

.contact-form .input-box .send-btn {
  color: #fff;
  background: rgb(74, 155, 9);
  display: inline-block;
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
  width: 100%;
}

.contact-form .input-box .send-btn:hover {
  background: #fff;
  color: #111;
  border: 1px solid #111;
}
