.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-title {
  position: relative;
  color: rgb(74, 155, 9);
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 60px;
}

.section-title::before {
  content: "";
  position: absolute;
  top: 56px;
  left: 50%;
  width: 140px;
  height: 5px;
  background: rgb(74, 155, 9);
  transform: translateX(-50%);
}
.section-title::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(74, 155, 9);
  transform: translateX(-50%);
}
