@media (max-width: 1049px) {
  header {
    padding: 12px 20px;
  }
  header.sticky {
    padding: 10px 20px;
  }
  header .navigation {
    display: none;
  }

  header .navigation.active {
    z-index: 888;
    position: fixed;
    background: #fff;
    top: 0;
    right: 0;
    width: 380px;
    height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    transition: 0.3s ease;
  }

  header .navigation a {
    color: #000;
    font-size: 22px;
    margin: 10px;
    padding: 0 20px;
    border-radius: 20px;
  }

  header .navigation a:hover {
    color: #fff;
    background: crimson;
  }

  .menu-btn.active {
    z-index: 999;
    background: url(../image/close-fill.svg);
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
    filter: invert(1);
  }

  section {
    padding: 80px 20px;
  }
  .main .content h2 {
    font-size: 24px;
  }
  .main .content h3 {
    font-size: 33px;
  }
  .section-title {
    font-size: 35px;
  }
  .about .content {
    flex-direction: column;
  }
  .about .content .column {
    position: relative;
    width: 100%;
  }
  .about .content .col-right {
    margin-top: 40px;
  }
  .skills .content {
    flex-direction: column;
  }
  .skills .content .column {
    position: relative;
    width: 100%;
  }
  .skills .content .col-right {
    margin-top: 40px;
  }
  .contact-form {
    padding: 35px 40px;
  }
}
